.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Full viewport height to center vertically */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding around the content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.question2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aqua;
  height: 100vh; /* Full viewport height to center vertically */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding around the content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.question-text {
  margin-bottom: 1rem;
  font-size: 1.2rem; /* Larger font size */
  color: #333; /* Darker text color */
  font-weight: bold; /* Bold text */
  line-height: 1.5; /* Line height for better readability */
}

.question-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.question-item {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.question-item h2 {
  font-size: 1.5rem;
  color: #0056b3; /* Accent color for headings */
  margin-bottom: 0.5rem;
}

.question-item p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

body {
  background-color: #f5f5f5; /* Light background for slide appearance */
  font-family: "Arial", sans-serif;
}
